body
{
    margin: 0.5%;
    padding: 0.5%;
    border: #000;
    border-width: 2px; 
}

.brand_center 
{
    margin: auto;
    width: 30%;
    font-size: 30px;
    color: #000;
    border: 10px;
    font-weight: 500;
    
    
    
}

#welcome
{
    padding-left: ;
    padding-right: ;
    padding-bottom: ;
    font-style: normal;
    font-family: sans-serif;
    color: rgb(35, 10, 146);
}

#process
{
    padding-left: ;
    padding-right: ;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.cons
{
    padding-left: ;
    padding-top: ;
}

#table, th, td 
  { 
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(35, 10, 146);
    text-align: center;
    border:1px solid black;
  }